// Esta syntax es mas nueva pero se utiliza { } y ;

body {
    background: #f2f2f2;
}

.article {
    background: #fff;
    .titulo {
        color: #000;
    }

    .autor{

    }

    p {
        a {
            text-decoration: none;
        }
    }
}