<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Basico</title>
</head>
    <body>
        <div class="contenedor">
            <!-- Encabezado -->
            <header>
                <nav>
                    <ul>
                        <li><a href="#"></a>Inicio</li>
                        <li><a href="#"></a>Acerca de</li>
                        <li><a href="#"></a>Productos</li>
                        <li><a href="#"></a>Contacto</li>
                    </ul>
                </nav>
            </header>

            <section class="main">
                <div class="imagen">
                    <img src="../../media/images/fondo.png" alt="" width="300">
                </div>
                <section class="posts">
                    <article>
                        <h2>Titulo del articulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur vitae eos adipisci inventore officiis expedita reiciendis dolores iusto. Perferendis expedita libero sint facere? Nam expedita harum cum nulla enim!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur vitae eos adipisci inventore officiis expedita reiciendis dolores iusto. Perferendis expedita libero sint facere? Nam expedita harum cum nulla enim!</p>
                    </article>
                </section>
            </section>
            <!-- Para la barra lateral -->
            <aside>
                <div class="widget">
                    <h3 class="titulo">Articulos destacados</h3>
                    <ul>
                        <li href="#"> Lorem ipsum dolor sit amet </li>
                        <li href="#"> Lorem ipsum dolor sit amet </li>
                        <li href="#"> Lorem ipsum dolor sit amet </li>
                        <li href="#"> Lorem ipsum dolor sit amet </li>
                        <li href="#"> Lorem ipsum dolor sit amet </li>
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="titulo">Informacion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut molestias numquam provident dolorem obcaecati quae? Laudantium molestias repudiandae nostrum vitae magni dolorem eius incidunt, id error, voluptatem voluptatum hic blanditiis.</p>
                </div>
            </aside>
            
            <footer>
                <p>Oscar, 2024, todos los derechos reservados.</p>
            </footer>
        </div>
    </body>
</html>