* {
    margin: 0;
    padding: 0;
}

body {
    background: #000500;
}

.galeria {
    width: 100%; /* Adaptable para dispositivos moviles */
}

.galeria img {
    vertical-align: top; /* Elimina espacios entre imagenes*/
    width: 250px;
    margin: 20px;
    padding: 5px;
    opacity: 0.5;
    border: 1px solid #484848;
    border-radius: 10px;
}

.galeria img:hover {
    border: 1px solid #484848;
    opacity: 1;
}