/* Para agregar fuentes perzonalizadas*/
/* Se tiene que descargar de google fonts y poner los archivos ttf en un directorio */

@font-face {
    font-family: "Roboto-Regular";
    src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../../fonts/Roboto-Light.ttf');
}

body {
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-weight: normal;
}