* {
    margin: 0;
    padding: 0;
}

div {
    background: #236fc1;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.caja-1{
    border: 7px solid #000;
    border-radius: 20px;
}
.caja-2{
    border: 7px dotted #000;
    border-radius: 0px 10px 30px 50px;
}
.caja-3{
    border: 7px dashed #000;
    border-radius: 0px 30px 0px 30px;
}
.caja-4{
    border: 7px double #000;
    border-radius: 100%;
    /* border: 7px groove #000; */
    /* border: 7px ridge #000; */
    /* border: 7px inset #000; */
    /* border: 7px outset #000; */
}