body {
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

td, th {
    padding: 10px 20px;
}

th {
    background: indigo;
    color: #fff;
}

tr:hover {
    background: #5e5353;
    color: #fff;
}